<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Forms1.Properties.Settings.VisitorManagementConnectionString"
            connectionString="Data Source=WKSCHE03TRNG078\SQLEXPRESS;Initial Catalog=VisitorManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Forms1.Properties.Settings.TaskManagementConnectionString"
            connectionString="Data Source=WKSCHE03TRNG078\sqlexpress;Initial Catalog=TaskManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>