@using VisitorManagement.DTO;
@model List<UserRoleDTO>;
<a href="./AddUser/">AddUser</a>
<h2>
    UserInfo List
</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                       UserId
                    </th>
                
                    <th>
                        Email
                    </th>
                
                    <th>
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(UserRoleDTO obj in Model)
                {
                    <tr>
                        <td>
                            @obj.UserId
                        </td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            @obj.Role
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>