@using RoomManagerMvcApp.DTO;
@model List<UserInfoDTO>;
<a href="./AddUser/">AddUSer</a>
<h2>
    UserInfo List
</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        DisplayName
                    </th>
                
                    <th>
                        Email
                    </th>
                
                    <th>
                        UserRole
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(UserInfoDTO obj in Model)
                {
                    <tr>
                        <td>
                            @obj.DiaplayName
                        </td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            @obj.UserRole
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>